# movement (can be prefixed with a number)
move_down           j
move_up             k
move_left           h
move_right          l

# if we are not at the end of viewing history, goto the next history point
next_state          <C-l>
# goto the previous history point
prev_state          <C-h>
prev_state          <backspace>
next_state          <C-<right>>

add_highlight		<S-h>

move_visual_mark_up		<C-k>
move_visual_mark_down	<C-j>

screen_down         d
screen_up           u

quit                <C-w>

open_link           <C-o>